.DS_Store
.vscode/
.idea/
.vite/
.turbo/
node_modules/
dist/
elements/
coverage/
*.log
.env
.env.local
bun.lock
bun.lockb
package-lock.json
tsconfig.node.tsbuildinfo
**/*.tsbuildinfo
bash.exe.*
.chat/
.manual/
.cursorignore
app-starter/