@import "tailwindcss";

@import "./resta.css";

@source "../**/*.{ts,tsx}";
@source "../../node_modules/@ui8kit/generator/src/lib/ui8kit.map.json";
@source "../../node_modules/@ui8kit/core/src/**/*.{ts,tsx}";

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
  button {
    cursor: pointer;
  }
  [class*="border-"] {
    border-color: var(--color-border);
  }
}
