@import "tailwindcss";

@import "./shadcn.css";

@source "../../../src/**/*.{ts,tsx,json}";

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
  button {
    cursor: pointer;
  }
  .prose {
    @apply !text-[.925rem];
  }
}