@import "tailwindcss";

@import "./shadcn.css";

@source "../maps/ui8kit.txt";

@source "../../../src/**/*.{ts,tsx}";

@source "../../../../../packages/ui8kit/src/**/*.{ts,tsx}";

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
  button {
    cursor: pointer;
  }
  .prose {
    @apply !text-[.925rem];
  }
}