@import "tailwindcss";

@import "./shadcn.css";

@source "../**/*.{ts,tsx}";
/* @source "../../../src/assets/maps/ui8kit.tailwind.log.json"; */
@source "../../../../packages/generator/src/lib/ui8kit.map.json";
@source "../../../../packages/core/src/**/*.{ts,tsx}";

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
  button {
    cursor: pointer;
  }
  .prose {
    @apply !text-[.925rem];
  }
}