/* Soft Pop theme */
/* https://tweakcn.com/editor/theme?theme=soft-pop */

:root {
    --background: hsl(80.0000 33.3333% 96.4706%);
    --foreground: hsl(0 0% 0%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 0%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 0%);
    --primary: hsl(243.3962 75.3555% 58.6275%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(173.4146 80.3922% 40%);
    --secondary-foreground: hsl(0 0% 100%);
    --muted: hsl(0 0% 94.1176%);
    --muted-foreground: hsl(0 0% 20%);
    --accent: hsl(37.6923 92.1260% 50.1961%);
    --accent-foreground: hsl(0 0% 0%);
    --destructive: hsl(0 84.2365% 60.1961%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(0 0% 0%);
    --input: hsl(0 0% 45.0980%);
    --ring: hsl(229.6552 93.5484% 81.7647%);
    --chart-1: hsl(243.3962 75.3555% 58.6275%);
    --chart-2: hsl(173.4146 80.3922% 40%);
    --chart-3: hsl(37.6923 92.1260% 50.1961%);
    --chart-4: hsl(330.3659 81.1881% 60.3922%);
    --chart-5: hsl(142.0859 70.5628% 45.2941%);
    --sidebar: hsl(80.0000 33.3333% 96.4706%);
    --sidebar-foreground: hsl(0 0% 0%);
    --sidebar-primary: hsl(243.3962 75.3555% 58.6275%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(37.6923 92.1260% 50.1961%);
    --sidebar-accent-foreground: hsl(0 0% 0%);
    --sidebar-border: hsl(0 0% 0%);
    --sidebar-ring: hsl(229.6552 93.5484% 81.7647%);
    --font-sans: DM Sans, sans-serif;
    --font-serif: DM Sans, sans-serif;
    --font-mono: Space Mono, monospace;
    --radius: 1rem;
    --shadow-x: 0px;
    --shadow-y: 0px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-md: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-lg: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.13);
    --tracking-normal: normal;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: hsl(0 0% 0%);
    --foreground: hsl(0 0% 100%);
    --card: hsl(215.2941 24.6377% 13.5294%);
    --card-foreground: hsl(0 0% 100%);
    --popover: hsl(215.2941 24.6377% 13.5294%);
    --popover-foreground: hsl(0 0% 100%);
    --primary: hsl(234.4538 89.4737% 73.9216%);
    --primary-foreground: hsl(0 0% 0%);
    --secondary: hsl(172.4551 66.0079% 50.3922%);
    --secondary-foreground: hsl(0 0% 0%);
    --muted: hsl(0 0% 20%);
    --muted-foreground: hsl(0 0% 80%);
    --accent: hsl(45.9429 96.6851% 64.5098%);
    --accent-foreground: hsl(0 0% 0%);
    --destructive: hsl(0 90.6040% 70.7843%);
    --destructive-foreground: hsl(0 0% 0%);
    --border: hsl(0 0% 32.9412%);
    --input: hsl(0 0% 100%);
    --ring: hsl(234.4538 89.4737% 73.9216%);
    --chart-1: hsl(234.4538 89.4737% 73.9216%);
    --chart-2: hsl(172.4551 66.0079% 50.3922%);
    --chart-3: hsl(45.9429 96.6851% 64.5098%);
    --chart-4: hsl(328.6154 85.5263% 70.1961%);
    --chart-5: hsl(141.8919 69.1589% 58.0392%);
    --sidebar: hsl(0 0% 0%);
    --sidebar-foreground: hsl(0 0% 100%);
    --sidebar-primary: hsl(234.4538 89.4737% 73.9216%);
    --sidebar-primary-foreground: hsl(0 0% 0%);
    --sidebar-accent: hsl(45.9429 96.6851% 64.5098%);
    --sidebar-accent-foreground: hsl(0 0% 0%);
    --sidebar-border: hsl(0 0% 100%);
    --sidebar-ring: hsl(234.4538 89.4737% 73.9216%);
    --font-sans: DM Sans, sans-serif;
    --font-serif: DM Sans, sans-serif;
    --font-mono: Space Mono, monospace;
    --radius: 1rem;
    --shadow-x: 0px;
    --shadow-y: 0px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-md: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-lg: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.13);
  }
  
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
  
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  
  body {
    letter-spacing: var(--tracking-normal);
  }